@mixin transition(
  $what : all,
  $length : 0.125s,
  $easing : ease-in-out
) {
  -webkit-transition: $what $length $easing;
     -moz-transition: $what $length $easing;
       -o-transition: $what $length $easing;
          transition: $what $length $easing;
}
